# Analysis requirements
six
numpy
pandas
tables
matplotlib
dask[complete]
scikit-learn
h5py
ipython
matplotlib
seaborn
jupyter
xgboost
scipy
mlxtend
pyprind
pycondor

# Testing requirements
pytest
flake8

# Documentation requirements
sphinx
numpydoc
sphinx_rtd_theme
